body
	background #000c0a
	color #fff
	font-family Inter, Ubuntu, Arial, sans-serif
	overflow-x hidden

h1
	font-family "Space Grotesk", Inter, Ubuntu, Arial, sans-serif
	font-size 8rem

section
	margin-top 3rem

	h2
		font-family "Space Grotesk", Inter, Ubuntu, Arial, sans-serif
		font-size 2.5rem
		margin-left 1.5rem
		line-height 0

#MAIN
	margin 1rem 14rem 0px 14rem

p
	font-size 1.25rem

.titleBlock
	text-align center
	padding-top 6rem

	h1
		font-weight black
		line-height 0

p#tagline
	font-size 2rem
	line-height 0
	text-align center
	margin-bottom 8rem

.titleBlock::before
	position: absolute;
	z-index: -1;
	content: "";
	top: 0%;
	bottom: 10%;
	width: 150%;
	left: -25%;
	background: linear-gradient(83.21deg,#1a931e 0%,#1f61ad 100%);
	-webkit-mask-image: radial-gradient(rgba(0,0,0,.45),transparent 70%);
	mask-image: radial-gradient(rgba(0,0,0,.45),transparent 70%);

.button
	padding 0.7rem
	background #26bf2b
	text-decoration none
	color #fff !important
	border-radius 0.8rem
	transition background 150ms ease-out 80ms
	&:hover
		background #1e9e23

a
	color #26bf2b
	transition color 150ms ease-out 80ms
	&:hover
		color #1e9e23