---
import Main from "../layouts/Main.astro";
// import ServerStatus from "../components/temp.vue"
---

<Main title="Home">
	<div class="titleBlock">
		<h1>Team SMP</h1>
	</div>
	<p id="tagline">Unite, Survive, Thrive!</p>
	<p>
		The Team SMP is a survival Minecraft server run by XxDreamXxXx and
		JunglTemple.
	</p>
	<!--TODO add server status thing-->
	<!--// <div class="status" id="status">
		// <ServerStatus client:load />
	// </div>-->
</Main>
