---

---

<nav>
    <a href="/">Home</a>
    <a href="/modpack">Modpack</a>
</nav>

<style lang="styl">
    nav
        display flex
        flex-direction row
        justify-content center
        margin-top 2rem
        font-size 1.25rem
        background 000c0a
        a
            text-decoration none
            color #fff
            transition color 150ms ease-out 80ms
            margin 0px 0.6em 0px 0.6em
            &:hover
                color #26bf2b
</style>