---
import NavBar from "../components/NavBar.astro";
import '../styles/general.styl'
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://fonts.googleapis.com/css?family=Inter:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
		<title>Team SMP &bull; {title}</title>
	</head>
    <style></style>
	<body>
		<div id="MAIN">
			<NavBar />
            <slot />
		</div>
	</body>
</html>
